name: Release Helm Chart

on:
  release:
    types: [published]
  push:

jobs:
  build-helm-repo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.18.4

      - name: Package chart
        run: |
          mkdir -p packaged
          helm package charts/* --destination packaged

      - name: Update Helm repo index
        run: |
          helm repo index packaged --url https://rkleinem.github.io/helmcharts/

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: packaged/


  deploy:
    runs-on: ubuntu-latest
    needs: build-helm-repo
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

